# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

ionic/*/.idea/
ionic/*/.sass-cache/
ionic/*/.tmp/
ionic/*/.versions/
ionic/*/coverage/
ionic/*/dist/
ionic/*/tmp/
ionic/*/temp/
ionic/*/hooks/
ionic/*/platforms/
ionic/*/plugins/
ionic/*/plugins/android.json
ionic/*/plugins/ios.json
ionic/*/www/
$RECYCLE.BIN/
**/node_modules/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
